version: "3.3"

services:
  db:
    image: mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: test_db
    ports:
      - "3307:3306"
    volumes:
      - $HOME/Documents/MySQL/parking.sql:/parking.sql

    networks:
      - net
      
  api:
    build: .
    depends_on:
      - db
    environment:
      PORT: 9001
      DB_HOST: db
      DB_USER: root
      DB_PASS: root
      DB_NAME: test_db
    ports:
      - "9001:9001"
    networks:
      - net

networks:
  net:
